appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
chardet==5.2.0
contourpy==1.0.7
cssselect==1.2.0
cycler==0.11.0
decorator==5.1.1
fonttools==4.46.0
fs==2.4.16
html5lib==1.1
kiwisolver==0.0.0
lxml==5.2.1
lz4==4.0.2+dfsg
matplotlib==3.6.3
mpmath==0.0.0
numpy==1.26.4
olefile==0.46
packaging==24.0
pillow==10.2.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2024.1
SciPy==1.11.4
setuptools==68.1.2
six==1.16.0
soupsieve==2.5
sympy==1.12
ufoLib2==0.16.0
unicodedata2==15.1.0
webencodings==0.5.1
wheel==0.42.0
